/*
!/.bashrc
!/.eslintrc
!/.gitignore
!/.shared_aliases
!/.xprofile
!/.Xresources
!/.minttyrc
!/windows-setup-steps.md

!/.config
/.config/*
!/.config/termite
/.config/termite/*
!/.config/termite/config
!/.config/windows
/.config/windows/*
!/.config/windows/capslock-ctrlescape.ahk

!/.hostname_configs
/.hostname_configs/*
!/.hostname_configs/jared-laptop
/.hostname_configs/jared-laptop/*
!/.hostname_configs/jared-laptop/remaps
!/.hostname_configs/jared-laptop/remaps.desktop
!/.hostname_configs/jared-laptop/keyboard.png

!/.vimrc.local.example
!/.config/nvim
/.config/nvim/*
!/.config/nvim/autoload
/.config/nvim/autoload/*
!/.config/nvim/autoload/plug.vim
!/.config/nvim/commands.vim
!/.config/nvim/filetypes.vim
!/.config/nvim/fvim.vim
!/.config/nvim/ginit.vim
!/.config/nvim/init.vim
!/.config/nvim/keybinds.vim
!/.config/nvim/modules
/.config/nvim/modules/*
!/.config/nvim/modules/airline.vim
!/.config/nvim/modules/ale.vim
!/.config/nvim/modules/defx-git.vim
!/.config/nvim/modules/defx-icons.vim
!/.config/nvim/modules/defx.vim
!/.config/nvim/modules/denite.vim
!/.config/nvim/modules/deoplete.vim
!/.config/nvim/modules/fterm.vim
!/.config/nvim/modules/neosnippet.vim
!/.config/nvim/modules/startify.vim
!/.config/nvim/nvim-settings.vim
!/.config/nvim/plug
/.config/nvim/plug/*
!/.config/nvim/plug/plug.vim
!/.config/nvim/snippets
/.config/nvim/snippets/*
!/.config/nvim/snippets/cs.snip
!/.config/nvim/snippets/css.snip
!/.config/nvim/snippets/html.snip
!/.config/nvim/snippets/javascript.snip
!/.config/nvim/snippets/markdown.snip
!/.config/nvim/snippets/sql.snip
!/.config/nvim/theme.vim
