/*
!/.gitignore
!/.xprofile
!/.xinput
!/.Xmodmap
!/.bashrc
!/.extend.bashrc

!/.config
/.config/*
!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json

!/.i3
/.i3/*
!/.i3/config

!/.githooks
/.githooks/*
!/.githooks/post-merge

!/.vscode
/.vscode/*
!/.vscode/install_extensions.js