/*
!/.gitignore
!/.xprofile
!/.xinput
!/.Xmodmap
!/.bashrc

!/.i3
/.i3/*
!/.i3/config

!/.config
/.config/*
!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json

!/.vscode
/.vscode/*
/.vscode/extensions