#!/bin/sh
#

#capture hostname
hostname="$(hostname)"

if [ $hostname = "jared-laptop" ]; then
    userxinput=$HOME/.hostname_configs/jared-laptop/.xinput
    usermodmap=$HOME/.hostname_configs/jared-laptop/.Xmodmap
elif [ $hostname = "jared-desktop" ]; then
    userxrandr=$HOME/.hostname_configs/jared-desktop/.xrandr
fi

userresources=$HOME/.Xresources
sysresources=/etc/X11/xinit/.Xresources
sysmodmap=/etc/X11/xinit/.Xmodmap

# merge in defaults and keymaps

if [ -f $sysresources ]; then
    xrdb -merge $sysresources
fi

if [ -f $sysmodmap ]; then
    xmodmap $sysmodmap
fi

xcape -e 'Super_L=Escape'

if [ -f "$userxrandr" ]; then
	source "$userxrandr"
fi

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$userxinput" ]; then
	source "$userxinput"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi

export $(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)
