#!/bin/sh
#

#capture hostname
hostname="$(hostname)"

if [ $hostname = "jared-laptop" ]; then
    userxinput=$HOME/.hostname_configs/jared-laptop/.xinput
    usermodmap=$HOME/.hostname_configs/jared-laptop/.Xmodmap
fi

userresources=$HOME/.Xresources
sysresources=/etc/X11/xinit/.Xresources
sysmodmap=/etc/X11/xinit/.Xmodmap

# merge in defaults and keymaps

if [ -f $sysresources ]; then
    xrdb -merge $sysresources
fi

if [ -f $sysmodmap ]; then
    xmodmap $sysmodmap
fi

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$userxinput" ]; then
	source "$userxinput"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi